.Otsikko1 {
    background-image: url(Kuvat/Placeholder.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}
.Otsikko1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Otsikko1 h1 {
    position: relative;
    z-index: 2;
    font-size: 8rem;
    font-weight: bold;
}
form div {
    padding: 0.2em;
    border-radius: 1em;
    margin-top: 1em;
}
#kirjautumisSivu {
    background-color: #f8f9fb;
    border: 1px solid #e1e2e4;
}
/*Tekstien fontti*/
#Style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Teeman vaihto*/
#themeToggle {
    margin-right: 20px;
}
/*LIGHT THEME (default)*/
body {
    background-color: #ffffff;
    color: #000000;
}
/*DARK THEME*/
.dark-theme {
    background-color: #1b1b1b !important;
    color: #e4e4e4 !important;
}
/*Korjaa taustat tummassa tilassa*/
.dark-theme .navbar {
    background-color: #1f1f1f !important;
}
.dark-theme .suositut {
    background-color: rgb(75, 75, 75);
    color: #ffffff;
}
.dark-theme .modal-content {
    background-color: #1f1f1f;
    color: #e4e4e4;
}
.dark-theme .card {
    background-color: #1d1d1d;
    color: #ffffff;
}