.Otsikko1 {
    background-image: url(Kuvat/Placeholder.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}
.Otsikko1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Otsikko1 h1 {
    position: relative;
    z-index: 2;
    font-size: 8rem;
    font-weight: bold;
}
form div {
    padding: 0.2em;
    border-radius: 1em;
    margin-top: 1em;
}
#rekisterointiSivu {
    background-color: #f8f9fb;
    border: 1px solid #e1e2e4;
    padding: 2em;
    margin-top: 2em;
    border-radius: 0.5em;
    max-width: 500px;
}
#rekisterointiSivu h2 {
    color: #333;
}
/*Tekstien fontti*/
#Style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Teeman vaihto*/
#themeToggle {
    margin-right: 20px;
}
/*LIGHT THEME (default)*/
body {
    background-color: #ffffff;
    color: #000000;
}
/*DARK THEME*/
.dark-theme {
    background-color: #1b1b1b !important;
    color: #ffffff !important;
}
.dark-theme #rekisterointiSivu {
    background-color: #2b2b2b !important;
    border-color: #444 !important;
}
.dark-theme #rekisterointiSivu h2 {
    color: #fff !important;
}
.dark-theme .form-control {
    background-color: #3b3b3b !important;
    color: #ffffff !important;
    border-color: #555 !important;
}
.dark-theme .form-label {
    color: #ffffff !important;
}
.dark-theme .form-text {
    color: #aaa !important;
}
